@font-face {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* {
#33355e
#8788af
#e0e1eb
#8fff00
#41e40a
} */

* {
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
}

::selection {}

  body {
    font-family: 'Noto Sans KR', Helvetica, sans-serif;
  }
  footer {
  }

  .worklinks {
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    position: relative;
  }

  .bgtext {
    color: #000000;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000; /* text-align: center; */
    font-weight: bold;
    font-size: 5rem;
    font-size: 9vmin;
    line-height: 1;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .bgtext a {
    text-decoration: none;
    -webkit-text-fill-color: white;/* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
  }

  .overlay {
    letter-spacing: -1px;
    background: rgb(0, 0, 0);  /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 5rem;
    font-size: 9vmin;
    line-height: 1;
    font-weight: bold;
    position: absolute;
    z-index: 100;
    display: none;
    top:30px;
    /* margin: 5px; */
    padding: 10px;
  }

  .overlay>span a {
    text-decoration: none;
    color: white;
  }

  .worklinks:hover .overlay {
    display: block;
  }

  aside {
    width: 100%;
    margin: 0 auto;
  }
  button{
    outline: none;
  }

  .modal {
    float: right;
    font-size: 1.3rem;
    line-height: 1.3;
    color: black;
    right: 0;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 40%;
    display: none;

    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    animation: fadein .5s;
  }
  .modal-content{
    height: 100%;
    /* position: fixed; */
    float: right;
    background-color: white;
    margin-left: 15% auto;
    padding: 10px;
    padding-left: 20px;
    border: 1px outset black;
    width: 80%;
  }
  .modal-body a{
    color: black;
    margin-top: 0;
    padding-top: 0;
  }
  .modal-body a:hover{
    color: #41e40a;
  }
  .close{
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 10px;
    color: #000000;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
  }
  .close:hover, .close:focus{
    -webkit-text-fill-color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn {
    padding: 10px;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;

    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    font-weight: bold;
    font-size: 7rem;
    font-size: 15vmin;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-text-fill-color: white;  /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;

    font-family: "Noto Sans KR", Helvetica, sans-serif;
  }

  #myBtn:hover {
    color: #000000 ;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
  }

  .mainColumn{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.6;
    justify-content: center;
  }
  .mainColumn ::-moz-selection { /* Code for Firefox */
    background: #41e40a;
    color: white;
  }
  .mainColumn ::selection {
    background: #41e40a;
    color: white;
  }

  .wrapper{
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
  }
  .colLeftText{
    margin: 0 auto;
    padding: 0;
    width: 640px;
    text-align: center;

    font-size: 2rem;
    line-height: 2;

    color: #41e40a;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #41e40a;
  }
  .colLeftText a{
    color: #41e40a;
  }
  .colRight{
    border: 2px solid rgb(255, 255, 255, 0);
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 92%;
    margin-bottom: 20px;
  }
  .colRight:hover{
    border: 2px solid #41e40a;
  }

  .imgContainer{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
  .videoContainer{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    width: 90%;
  }
  .videoContainer iframe{
      text-align: center;
      align-items: center;
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }
  .textContainer{
    padding: 10px;
    margin: 10px;
  }
  .textContainer h1{
    font-size: 4rem;
    line-height: 1;
    color: #41e40a;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #41e40a;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .textContainer h1 a{
    text-decoration: none;
    color: #41e40a;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #41e40a;
  }
  .textContainer h1 a:hover{
    -webkit-text-fill-color: #41e40a;
  }
  .textContainer h2 {
    font-size: 3rem;
    color: #41e40a;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #41e40a;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  .textContainer h2 a{
    text-decoration: none;
    color: #41e40a;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #41e40a;
  }
  .textContainer h2 a:hover{
    -webkit-text-fill-color: #41e40a;
  }
  .textContainer p{
    font-size: 1.4rem;
    line-height: 1.8;
  }
  .textContainer p a{
    color: #41e40a;
  }
  .textContainer p a:hover{
    background: #41e40a;
    color: white;
  }

  .textContainer ul {
    padding-left: 10px;
    list-style: none;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .textContainer ul li{
    padding-bottom: 10px;
  }

  .textContainer #moreResources{
    padding-left: 10px;
    padding-bottom: 0;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  #moreResources a{
    color: #41e40a;
  }
  #moreResources a:hover{
    color: #41e40a;
    background-color: rgb(65, 228, 10, 0.2);
  }

  .aboutWork span{
    background-color: rgb(65, 228, 10, 0.2);
  }
  .aboutWork span a{
    color: #33355e;
  }

  .backToMain{
    position: absolute;
    margin: 30px auto;
    float: left;
    left: 50px;
    font-size: 1.5rem;
  }
  .backToMain a{
    color: black;
    text-decoration: none;
  }
  .backToMain a:hover{
    color: #41e40a;
  }
  .about ::-moz-selection{
    background: black;
    color: white;
  }
  .about ::selection{
    background: black;
    color: white;
  }
  .about{
    width: 80%;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 20px auto;
    padding: 10px;
  }
  .about h1, h2{
    text-align: center;
  }
  .about a{
    text-decoration: none;
    color: #41e40a;
  }
  .about a:hover{
    color: white;
    background-color: #41e40a;
  }
  .about p{
    margin-top: 70px;
  }

  .about .underline{
    text-decoration: underline;
    text-decoration-color: #41e40a;
  }
  .about .highlight{
    background-color: rgb(65, 228, 10, 1);
  }
  .about .highlight a{
    color: white;
    text-decoration: none;
  }
  .about .highlight a:hover{
    color: black;
  }
  .about address{
    margin-top: -30px;
    padding-top: 0;
  }
  .about address #email{
    font-style: normal;
    color: white;
    background-color: #41e40a;
  }
  .about address #email:hover{
    color: black;
  }
  .about address a{
    text-decoration: none;
  }

  /** LIGHTBOX MARKUP **/
  .lightbox{
    display: none;
    position: fixed;
  	z-index: 999;
  	width: 90%;
  	/* height: 100%; */
  	text-align: center;
  	/* top: 0;
  	left: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  	background: rgba(0,0,0,0.8);
  }

  .lightbox img {
  	/** Pad the lightbox image */
  	max-width: 90%;
  	max-height: 80%;
  	margin-top: 2%;

  }

  .lightbox:target {
  	/** Remove default browser outline */
  	outline: none;
  	/** Unhide lightbox **/
  	display: block;
  }


  @media screen and (max-width: 830px) {
    .worklinks {
      margin: 10px;
      padding: 10px;
    }

    .bgtext {
      font-size: 4rem;
      font-size: 10vmin;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .overlay {
      font-size: 4rem;
      font-size: 10vmin;
      top: 10px;
    }

    #myBtn {
      font-size: 4rem;
      font-size: 10vmin;
    }

    .modal{
      width: 80%;
      float: none;
    }
    .modal-content{
      font-size: 1.1rem;
      line-height: 1.1;
    }
    .close{
      font-size: 1.8rem;
    }
    .mainColumn{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .wrapper{
      width: 100%;
    }
    .colLeft{
      width: 95%;
    }
    .colRight{
      width: 95%;
    }
    .colLeftText{
      font-size: 1.6rem;
      line-height: 1.3;
      width: 100%;
    }
    #work1{
      margin-top: -50px;
    }
    .colRight{
      position: static;
      overflow-y: auto;
      overflow-x: auto;
      height: 100%;
      margin-bottom: 0;
      margin-top: 15px;
      width: 100%;
    }
    .colRight:hover{
      border: 2px solid rgb(255, 255, 255, 0);
    }
    .videoContainer{

    }
    .textContainer h1{
      margin-top: 0;
      font-size: 2.5rem;
      line-height: 1.2;
    }
    .textContainer p{
      font-size: 1.2rem;
      line-height: 1.6;
    }
    .textContainer ul{
      padding-left: 3px;
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .backToMain{
      margin: 10px auto;
      top: 20px;
      left: 40px;
      font-size: 1.2rem;
    }
    .about{
      width: 90%;
      font-size: 1.7rem;
      line-height: 1.9;
    }
    .about p{
      margin-top: 50px;
    }

  }
